ul {
    list-style: none;
    display: flex;
    flex-direction: column;


}

li {
    padding-bottom: 15px;
    font-size: 25px;
    border-bottom: 3px soild grey;
}

a {
    text-decoration: none;
}

ul>div {
    margin: 5px 0;
    border-bottom: 2px solid gray;
}